
<div class="p-0 px-5 py-3">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="py-2 mb-2 w-full rounded-lg">
                <h3 class="text-2xl text-gray-500">
                    {{title.getTitle()}}
                </h3>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3">
            <!-- Module 1 -->
            <div
                class="relative bg-white hover::bg-gray-100 shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center transition duration-300 ease-in-out group ">
                <div class="relative flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <img src="assets/icons/warning.png" class="w-20 h-auto z-0" alt="" srcset="">
                    <!-- Badge for hovering -->
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Andon</h2>
                </div>
            </div>
            <!-- Module 2 -->
            <div
                class="bg-white shadow-lg cursor-pointer rounded-lg overflow-hidden flex flex-col items-center text-center">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-shopping-cart text-green-600 text-5xl"></i> -->
                    <img src="assets/icons/predictive.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Preventive</h2>
                </div>
            </div>
            <!-- Module 3 -->
            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-boxes text-yellow-600 text-5xl"></i> -->
                    <img src="assets/icons/storage-box.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Rack & Polybox</h2>
                </div>
            </div>
            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-cogs text-yellow-600 text-5xl"></i> -->
                    <img src="assets/icons/steel.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Material Plate</h2>
                </div>
            </div>

            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-users text-purple-600 text-5xl"></i> -->
                    <img src="assets/icons/spare-parts.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Stock OHP & IHP</h2>
                </div>
            </div>
            <!-- Module 6 -->
            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-chart-line text-red-600 text-5xl"></i> -->
                    <img src="assets/icons/target.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Target Produksi</h2>
                </div>
            </div>
            <!-- Module 1 -->
            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-tachometer-alt text-blue-600 text-5xl"></i> -->
                    <img src="assets/icons/business.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Suggestion System</h2>
                </div>
            </div>
            <!-- Module 2 -->
            <div
                class="bg-white hover:bg-blue shadow-lg cursor-pointer rounded-lg overflow-hidden flex flex-col items-center text-center">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-shopping-cart text-green-600 text-5xl"></i> -->
                    <img src="assets/icons/drivers-license.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Doc. Expired</h2>
                </div>
            </div>
            <!-- Module 3 -->
            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <img src="assets/icons/purchase.png" class="w-20 h-auto" alt="" srcset="">

                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Sparepart Mesin</h2>
                </div>
            </div>
            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <!-- <i class="fas fa-cogs text-yellow-600 text-5xl"></i> -->
                    <img src="assets/icons/consumer.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Consumable</h2>
                </div>
            </div>

            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <img src="assets/icons/stationery.png" class="w-20 h-auto" alt="" srcset="">
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">ATK</h2>
                </div>
            </div>
            <!-- Module 6 -->
            <div
                class="bg-white cursor-pointer shadow-lg rounded-lg overflow-hidden flex flex-col items-center text-center h-48">
                <div class="flex items-center justify-center p-4 h-36 w-full bg-gray-100">
                    <i class="fas fa-chart-line text-red-600 text-5xl"></i>
                </div>
                <div class="p-2">
                    <h2 class="text-sm font-semibold">Reports</h2>
                </div>
            </div>
        </div>
    </div>
</div>